@font-face {
	font-family: 'RobotoRegular';
	src: url('../fonts/roboto/Roboto-Regular.ttf') format('truetype');
}

:root{
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

*::placeholder{
    color:#535c70;
    opacity: 0.6;
}
html{
    font-family: 'RobotoRegular';
    font-size: 16px;
}
html, body{
    padding: 0px;
    margin: 0px;
    width: 100%;
    overflow-x: hidden;
    height: 100%;
}
body{
    background-color: skyblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cuerpo_login{
    max-width: 350px;
    width: 90%;
    margin: 0px auto;
    padding: 20px 2%;
    border-radius: 15px;
    background-color: white;
}

h1, h2{
    margin: 0px;
    color: #535c70;
}

.encabezado h1{font-size: 1.5rem;}
.encabezado h2{
    font-size: 1rem;
    padding: 5px 0px;
}

.campos{
    padding: 5px 0px;
    border-bottom: 1px solid #eeeeee;
    position: relative;
    margin: 10px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

input{
    outline:none;
    width: 100%;
    margin: 10px 0px;
}

input[type=text], input[type=password], input[type=email]{
    border: 0px;
    padding: 5px 0px;
    font-size: 1.1rem;
    margin: 0px;
    width: 100%;
}

.contrasenia{
    width: 90%;
}

.icono{
    width: 10%;
    text-align: center;
}

.icono svg{
    width: 90%;
    height: auto;
    cursor: pointer;
}

.icono svg path{
    opacity: 0.5;
    transition: all 0.3s ease-in-out;
}

.icono svg:hover path{
    opacity: 1;
}

input[type=submit]{
    border: 0;
    padding: 10px;
    color: #fff;
    background: linear-gradient(to bottom, #ff6e1f, #ff625d);
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
}

.enlace_registro{
    font-size: 1rem;
    color: #777e8f;
    padding: 10px 0px;
}

.enlace_registro a{
    text-decoration: none;
    color: #000;
    transition: all 0.3s linear;
}

.enlace_registro a:hover{
    color: #ff6e1f;
}

@media (max-width: 350px) {
    .cuerpo_login{
        padding: 20px 5%;
    }
}